*{
    margin:0px;
    padding:0
}

html, body{
    height:100%
}

body{
    display:flex;
    background-color:rgb(200,200,200);
    flex-direction: column;
    align-items:center
}

#topo{
    display:flex;
    background-color:rgb(220,220,220);
    height:15%;
    width:100%;
    margin-top:0%;
    align-items:center;
    justify-content:center;
    border-bottom: 2px solid rgb(150,150,150)
}

#logo{
    height:75%;
    width:15%;
    margin-right:25%
}

#busca{
    height:50%;
    background-color:rgb(200,200,200);
    border-radius:10px;
    outline:none;
    margin-right:25%;
}

.itens_topo{
    height:20px;
    width:20px;
    padding:1%
}

#perfil_pessoa{
    border-radius:100%;
}

#meio{
    display:flex;
    height:75%;
    width:50%;
    margin-top:2%;
    justify-content:left;
    border: 2px solid rgb(150,150,150)
}

#post{
    height:100%;
    width:60%;
}

#lateral{
    width:40%;
    height:100%;
    flex-direction:column;
}

#cabecalho{
    display:flex;
    height:10%;
    width:100%;
    background-color:rgb(200,200,200);
    align-items:center;
}

.perfil{
    display:flex;
    height:20px;
    width:20px;
    border-radius:100%;
    margin-left:3%;
    margin-right:3%;
}

#perfil{
    margin-top:3%
}

#mais{
    display:flex;
    height:12px;
    width:12px;
    margin-left:25%
}

#corpo{
    display:flex;
    height:50%;
    width:100%;
    background-color:rgb(220,220,220);
}

#legenda{
    margin-top:3%;
    font-size:3.5mm;
}

#pe{
    display:flex;
    flex-direction:column;
    height:40%;
    width:100%;
    background-color:rgb(200,200,200);
}

#pe_1{
    margin-top:3%;
    margin-bottom:5%;
    margin-left:3%
}

.itens_pe{
    height:20px;
    width:20px;
    padding:1%;
}

#salvar{
    height:28px;
    width:28px;
    margin-left:40%;
}

#pe_2{
    display:flex;
    flex-direction:row;
    margin-bottom:3%;
    margin-left:3%
}

#curtida{
    display:flex
}

#data{
    display:flex;
    font-style:italic;
    margin-bottom:5%;
    margin-left:3%
}

#pe_3{
    display:flex;
    flex-direction:row;
    margin-left:3%
}

#comentario{
    height:25px;
    border-radius:10%;
    outline:none
}

#publicar{
    height:29px;
    width:68px;
    margin-left:1%;
    border-radius:10%;
    outline:none
}